body {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
}

header,
footer {
    border: solid map-get($colours, silver);
}

header {
    border-width: 0 0 1px;

    nav {
        font-size: 1.2rem;

        a {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

footer {
    border-width: 1px 0 0;
}

a:not(.button) {
    color: map-get($colours, red);
    text-decoration: none;

    &:hover {
        box-shadow: 0 3px 0 0px currentColor;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    &.title {
        margin-bottom: 1.2em;
    }
}

.img {
    max-width: 100%;
    height: auto;
}

.icon-button {
    padding: 0;
    background: none;

    &:hover,
    &:active {
        background: none;
        border: none;
    }
}
