#drawer {
    transition: transform 0.3s;

    .menu {
        margin: 0;
        padding: 0;

        li {
            display: block;

            a {
                padding: ms(0);
                display: block;
            }
        }

        .active {
            color: map-get($colours, blue);
        }
    }
}

#drawer,
#main-content {
    background-color: map-get($colours, white);
}

#drawer__overlay {
    @include full-screen;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -10;
    opacity: 0;
    transition: opacity 0.3s linear, z-index 0.3s linear 0.3s;

    &.visible {
        transition: opacity 0.3s linear, z-index 0.3s linear 0s;
        opacity: 1;
        z-index: 10;
    }
}

.drawer-toggle-button {
}

