html,
body {
    min-height: 100vh;
}

body > .ember-view {
    min-height: 100vh;
    display: flex;
}

header,
footer {
    padding: ms(1) ms(0);
    border: solid map-get($colours, silver);

    @include md() {
        padding: ms(3) ms(2);
    }
}

.main {
    flex-grow: 2;
    padding: ms(2) ms(1);
    max-width: 600px;

    @include md() {
        padding: ms(3) ms(2);
    }
}

#drawer {
    width: 300px;
    margin-left: -300px;
    flex-shrink: 0;
    background-color: #fff;
    position: relative;
    z-index: 20;
    transform: translate(0, 0);

    &.opened {
        transform: translate(100%, 0);
    }
}

#main-content {
    flex-shrink: 0;
    width: 100%;
}
