& {
    position: absolute;
    overflow: hidden;
    @include full-screen;
}

.back-button {
    margin: 0 0 ms(2);
}

.product-details {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: map-get($colours, white);
    z-index: 10;
    overflow: auto;

    padding: ms(2) ms(1);

    @include md() {
        padding: ms(3) ms(2);
    }
}

.swiper-container {
    margin-bottom: ms(2);
}

.description {
    color: map-get($colours, gray);
    margin-bottom: ms(2);
}

.price {
    margin-bottom: ms(2);
}

.bids {
    display: inline-block;
    font-weight: 100;
    color: map-get($colours, red);
}

.comments {
    margin: ms(1) 0 0;
    padding: ms(1) 0 0;
    border-top: 1px solid map-get($colours, silver);
    overflow: hidden;

    h3 {
        font-weight: normal;
        margin: 0 0 ms(1);
    }
}
