& {
    padding: 0 0 ms(1);
    margin: 0 0 ms(1);
    border-bottom: 1px solid map-get($colours, silver);
}

.title {
    font-weight: 600;
}

.body {
    color: map-get($colours, gray);

    &:before {
        content: '\201C';
    }

    &:after {
        content: '\201D';
    }
}

.meta {
    display: flex;
    font-size: 0.85rem;
    color: map-get($colours, gray);
    margin-bottom: ms(1);
}

.title {
    margin-bottom: ms(-1);
}

.author-wrapper {
    display: flex;
    margin-left: 10px;
    margin-right: auto;
}

.icon-image {
    margin-right: 5px;
}
