.image-wrapper {
    position: relative;
}

.remove {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: map-get($colours, white);
    border-radius: 100%;

    &:hover {
        background-color: map-get($colours, red);
    }
}
