& {
    position: relative;
    min-height: 100px;
    background-color: darken(map-get($colours, white), 5%);
    width: 100%;
}

.image-drop-area {
    height: 100%;
    width: 100%;

    &:after {
        content: attr(title);
        color: map-get($colours, silver);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
}

.delete {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
}

input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
}
