& {
    margin: 0 0 ms(2);
}

.description {
    color: map-get($colours, gray);
    margin-bottom: ms(1);
}

.bids {
    display: inline-block;
    font-weight: 100;
    color: map-get($colours, red);
}

.swiper-container {
    margin-bottom: ms(1);
}
