{{#site-drawer drawerData as |drawerData|}}
    {{site-header drawerData=drawerData}}

    <div id="content-wrapper" class="main {{routeStyleNamespaceClassSet}}">
        {{outlet}}
    </div>

    {{site-footer}}
{{/site-drawer}}